* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 3vw 5vw;
  background-color: #f5f5dc;
  font-family: sans-serif, Arial, Helvetica;
}

.main-div {
  display: grid;
  gap: 40px;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: #5050d3;
}
button:hover{
  background-color: #1b1b8c;
}
